$bgcolor: linear-gradient(79deg, #ec9ab2 1%, #61387e 99%) ;
$fuschia: #ff0043;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #202020;
$button: #1eff00;	
$button-teste: #fffb0b;
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #11111100;
$nav-font-color: #faf0f2;
$link-hover-color: $fuschia;
$font: 'Poppins', sans-serif;
$font2:'MuseoModerno', cursive;
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: $font2;
  text-decoration: none;
  outline: none;
  border: none;
  border:none;    
  list-style: none;
  background:$nav-background;
}
body{
     height: 100vh;
      width: 100vw;
    display: flex;
    align-items: center;
    justify-content: right;
    background:$bgcolor;
    background-position: center;
    
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
  padding: 30px 13%;
  display:flex; 
  text-align: center;
  justify-content: space-between;
}
.logo{
  font-size: 2.5rem;
 font-weight: 500;
 margin-left: 15%;
  color:#fff
}
.navbar{
  display: flex;
  align-items: center;
}
.navbar a{
 position: relative;
 color: #fff;
 font-size: 17px;
 font-weight: 500;
 margin-left: 45px;
}
.navbar a::after{
  position: absolute;
  content: '';
  right: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #fff;
  border-radius: 8px;
  transition: all ease .45s;
}

.navbar a:hover::after{
  width: 100%;
}
.btnLogin-popup{
    display: inline-block;
    padding: 8px 32px;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 45px;
  cursor: pointer;
  transition: all ease .45s
  }
.btnLogin-popup:hover{
transform: scale(1.1);
background: $button-bg;
border: 2px solid #fff;
color:#fff;
  }
  .container{
    position: relative;
    height: 530px;
    width: 460px;
    background: transparent;
    border-radius: 24px;
    border: 3px solid rgba(257,257,257, .4);
    backdrop-filter: blur(25px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    align-items: right;
    justify-content: right;  
   overflow: hidden;
    transition: all ease .35s;

  }
.main-box{
  padding: 50px;
  width: 90%;
}
.main-box h1{
  color: $button-bg;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.input-box{
  position: relative;
  height: 52px;
  width: 100%;
  border-bottom: 2px solid $baby-blue;
  margin: 32px 0;
}

.input-box label{
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: $baby-blue;
  font-size: 17px;
  font-weight: 500;
  transition: all ease .45s;
}

.input-box input{
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 600;
  color: #162938;
  padding: 0 30px 0 6px;
}
.input-box .icon{
  position: absolute;
  right: 9px;
  font-size: 19px;
  color: #162938;
  line-height: 55px;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top: -3px ;
}
.check{
  font-size: 15px;
  font-weight: 500;
  coLor:#162938;
  margin: -14px 0 15px;
  display: fLex;
  justify-content: space-between;
}
  .check label input{
    margin-right: 5px;
    accent-color: #162938;
  }
  .check a{
    color: #162938;
  }
  .check a:hover{
    text-decoration: underLine;
  }

.main-btn{
    background: $button-bg;
    width: 95%;
    height: 43px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    }
.register{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: $baby-blue;
  margin: 30px 0 10px;

}
.register p a{
  font-weight: 600;
  color:$baby-blue;
}
  .register p a:hover{
  text-decoration: underline;
  }
.close-icon{
    position: absolute;
    Left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: $button-bg;
    coLor: #fff ;
    display: inline-flex;
    aLign-items: center;
    justify-content: center;
    font-size: 32px;
    z-index: 1;
    border-bottom-right-radius:15px;
    cursor: pointer;
  }
.container .main-box.login{
    transition: transform .20s ease;
    transform: translateX(0);
}
.container .main-box.register{
position: absolute;
transform: translateX(500px);
transition: none;
}
.container.active{
  height: 570px;

}
.container.active .main-box.login{
  transition: none;
  transform: translateX(-500px);
}
.container.active .main-box.register{
  transition: transform .20s ease;
  transform: translateX(0);
}
.container{
  transform: scale(0);
}
.container.active-popup{
  transform: scale(1);
}

section{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  // border-radius: 20px;
  // overflow: hidden;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%,-50%);
}
.content{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slides{
  display: flex;
  width: 500%;
  height: 100%;    
}
.slides input{
  display: none;
}

.st{
  width: 20%;
  transition: 2s;
}
.st img{
  width: 800px;
  height: 500px;
}
.nav-m{position: absolute;
  width: 800px;
  margin-top: -34px;
  justify-content: center;
  display: flex;
}
.m-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.m-btn:not(:last-child){
  margin-right: 30px;
}
.m-btn:hover{
  background: #fff;
}


#slide1:checked ~ .first{
    margin-left: 0;
}
#slide2:checked ~ .first{
    margin-left: -20%;
}
#slide3:checked ~ .first{
    margin-left: -40%;
}
#slide4:checked ~ .first{
    margin-left: -60%;
}
#slide5:checked ~ .first{
    margin-left: -80%;
}
    
.navegation{
  position: absolute;
  margin-top: 460px;
  width: 800px;
  bottom: 20px;
  justify-content: center;
  display: flex;
}
.navegation div{
border: 2px solid #fff;
padding: 5px;
border-radius: 10px;
transition: 1s;
}
.navegation div:not(:last-child){
margin-right: 30px;
justify-content:center;

}

#slide1:checked ~ .navegation .bar{
  background-color: #ffffff;
}
#slide2:checked ~ .navegation .bar1{
  background-color: #ffffff;
}
#slide3:checked ~ .navegation .bar2{
  background-color: #ffffff;
}
#slide4:checked ~ .navegation .bar3{
  background-color: #ffffff;
}
#slide5:checked ~ .navegation .bar4{
  background-color: #ffffff;
}
 




