@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.navigation {
  height: 70px;
  background: #111111;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #faf0f2;
  text-decoration: none;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: #111111;
  color: #faf0f2;
  text-decoration: none;
}
nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ff0043;
  width: 0%;
  bottom: 0px;
}
nav ul li a:hover::before {
  width: 70%;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #111111;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    width: 20%;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ff0043;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
.btn {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: -1100px;
  margin-left: -120px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #ff0043;
  color: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.btn:focus {
  outline: 0;
}
.btn:before, .btn::after {
  position: absolute;
  display: block;
  content: " ";
  left: -20%;
  width: 140%;
  height: 100%;
  z-index: -1000;
  transition: all ease-in 0.5s;
  background-repeat: no-repeat;
}
.btn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0043 20%, transparent 30%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0043 15%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}
.btn::after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0043 15%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%), radial-gradient(circle, #ff0043 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 70% 90%;
}
.btn:active {
  transform: scale(0.9);
  background-color: #e6003c;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.btn.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.btn.animate::after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
#stars {
  display: block;
  position: relative;
  width: 100%;
  height: 16rem;
  height: 100vh;
  z-index: 1;
}

.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 9s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n+1)::before {
  background: rgb(255, 0, 0);
  box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0), 0 0 60px rgb(255, 0, 0), 0 0 80px rgb(255, 0, 0), 0 0 0 8px rgba(134, 255, 0, 0.1);
}

.glowing span:nth-child(3n+2)::before {
  background: rgb(251, 0, 255);
  box-shadow: 0 0 20px rgb(251, 0, 255), 0 0 40px rgb(255, 0, 132), 0 0 60px rgb(255, 0, 132), 0 0 80px rgb(255, 0, 132), 0 0 0 8px rgba(255, 214, 0, 0.1);
}

.glowing span:nth-child(3n+3)::before {
  background: rgb(0, 226, 255);
  box-shadow: 0 0 20px rgb(0, 226, 255), 0 0 40px rgb(0, 226, 255), 0 0 60px rgb(0, 226, 255), 0 0 80px rgb(0, 226, 255), 0 0 0 8px rgba(0, 226, 255, 0.1);
}

.glowing span:nth-child(3n+1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n+2) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n+3) {
  animation: animate 8s alternate infinite;
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=style.css.map */